<p>error-page works!</p>

<ul>
    <li>
        <a routerLink="/auth/login" >
            ir a Login
        </a>
        
    </li>

    <li>
        <a routerLink="/auth/registro" >
            ir a Registro
        </a>   
    </li>

    <li>
        <a routerLink="/heroes/agregar" >
            ir a Agregar
        </a>   
    </li>

    <li>
        <a routerLink="/heroes/editar/:id" >
            ir a Agregar
        </a>   
    </li>

    <li>
        <a routerLink="/heroes/buscar" >
            ir a Buscar
        </a>   
    </li>

    <li>
        <a routerLink="/heroes/:id" >
            ir a Heroe
        </a>   
    </li>

    <li>
        <a routerLink="/heroes/listado" >
            ir a Listado
        </a>   
    </li>
</ul>

